body{
    background-color: rgb(233, 230, 193);
    margin: 0%;  
 }
#taskbar {
    background-color: rgb(168, 120, 15);
    height: 60px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
}
.buttons button{
    background-color: rgba(169, 113, 48, 0);
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}
button:hover  {
    background-color: rgb(200, 197, 160);
}